{% extends "watches/base.html" %}
{% block main_content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Register</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>Already a Member?</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="{% url 'login' %}" class="btn_3">Log in</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="single-defination">
								<h4 class="mb-20">Your email address is verified</h4>
								<p>Thanks for a confirming your email.
									</p>
                        </div>
                        <a href="{% url 'login' %}" class="btn_3">Go to Login</a>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
{% endblock %}