{% extends "watches/base.html" %}
{% block main_content %}
    <main>
        <!-- Hero Area Start-->
        <div class="slider-area ">
            <div class="single-slider slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2>Register</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Area End-->
        <!--================login_part Area =================-->
        <section class="login_part section_padding ">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_text text-center">
                            <div class="login_part_text_iner">
                                <h2>Already a Member?</h2>
                                <p>There are advances being made in science and technology
                                    everyday, and a good example of this is the</p>
                                <a href="{% url 'login' %}" class="btn_3">Log in</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="login_part_form">
                            <div class="login_part_form_iner">
                                <h3>Welcome Here! <br>
                                    Please Sign up now</h3>
                                <form class="row contact_form" method="post" action="">
                                    {% csrf_token %}

                                    <div class="col-md-12 form-group p_star">
                                        <input type="email" class="form-control" id="email" name="email" value=""
                                            placeholder="Email" hx-post="{% url 'check_email' %}"
                                               hx-target="#email-check" hx-trigger="keyup" required>
                                    </div>
                                    <div id="email-check" class="col-md-12"></div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="fname" name="fname" value=""
                                            placeholder="First Name" hx-post="{%  url 'check_fname' %}"
                                               hx-target="#fname-check" hx-trigger="keyup" required>
                                    </div>
                                    <div id="fname-check" class="col-md-12"></div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="lname" name="lname" value=""
                                            placeholder="Last Name" hx-post="{% url 'check_lname' %}"
                                               hx-target="#lname-check" hx-trigger="keyup" required>
                                    </div>
                                    <div id="lname-check" class="col-md-12"></div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="text" class="form-control" id="username" name="username"
                                            placeholder="Username"  hx-post="{% url 'check_username' %}"
                                               hx-target="#username-check" hx-trigger="keyup">
                                    </div>
                                    <div id="username-check" class="col-md-12 p_star"></div>
                                    <div class="col-md-12 form-group p_star">
                                        <input type="password" class="form-control" id="password" name="password" value=""
                                            placeholder="Password" required>
                                    </div>
                                    
                                    <div class="col-md-12 form-group">
                                        <div class="creat_account d-flex align-items-center">
                                            <input type="checkbox" id="f-option" name="selector">
                                            <label for="f-option">Remember me</label>
                                        </div>
                                        <button id="submit" name="submit" type="submit" value="submit" class="btn_3">
                                            create an account
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================login_part end =================-->
    </main>
{% endblock %}